<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Project_Dap.Properties.Settings.Product_DBConnectionString"
        connectionString="Data Source=DESKTOP-QNL7G49;Initial Catalog=Product_DB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
